{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="keywords" content="eve market trading ">
  <meta name="description" content="Eve market trading alerts.">

  <title>EVE Shekel</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
</head>

<body>
<noscript>
  <div id="noscript">
    <div>This site requires javascript to run.</div>
  </div>
</noscript>

<div id="app">
  <v-app dark>
    <navbar></navbar>
    <snackbar></snackbar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</div>

{% if debug %}
  <script async src="/static/build.js"></script>
{% else %}
  <script async src="{% static 'build.js' %}"></script>
{% endif %}
</body>
</html>
