<template>
  <v-card>
    <v-list-tile>
      <v-list-tile-content>
        <v-list-tile-title>{{ character.name }}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>

    <v-divider/>

    <v-list v-if="settings" two-line>

      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Evemail Notifications</v-list-tile-title>
          <v-list-tile-sub-title>Receive notification evemails for this character</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-switch v-model="evemailEnabled"/>
        </v-list-tile-action>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>
          <v-select v-model="evemailCharacter"
                    :disabled="!evemailEnabled"
                    label="Choose who should receive these evemails"
                    :items="characterList"
                    item-text="name"
                    item-value="id"/>
        </v-list-tile-content>
      </v-list-tile>

    </v-list>

    <div v-else class="py-4 text-xs-center">
      <v-progress-circular indeterminate color="primary"/>
    </div>
  </v-card>
</template>
<script>
  import {mapState, mapActions, mapGetters, mapMutations} from 'vuex'
  import {AXIOS} from "../constants";
  import _ from 'lodash'

  export default {
    props: {
      character: {type: Object, required: true}
    },

    data() {
      return {
        settings: {},
      }
    },

    created() {
      this.getSettings()
    },

    computed: {
      ...mapGetters(['characterList']),

      evemailEnabled: {
        get() {
          return this.settings.eve_mail_alerts
        },
        set(value) {
          this.updateSetting('eve_mail_alerts', value)
        },
      },

      evemailCharacter: {
        get() {
          return this.settings.eve_mail_recipient
        },
        set(value) {
          this.updateSetting('eve_mail_recipient', value)
        },
      },
    },

    methods: {
      ...mapMutations(['setSnackbar']),

      getSettings() {
        AXIOS.get(`/api/character-settings/${this.character.id}/`).then(response => this.settings = response.data)
      },

      updateSetting(setting, value) {
        let oldValue = this.settings[setting];
        this.$set(this.settings, setting, value);

        let data = {};
        data[setting] = value;

        return AXIOS.patch(`/api/character-settings/${this.character.id}/`, data)
            .catch(request => {
              this.setSnackbar('Error changing character settings, please try again.')
              this.$set(this.settings, setting, oldValue);
            })
      },
    },
  }
</script>
