<template>
  <v-card>
    <v-card-title>
      <h3 class="subheading">Order notifications</h3>
    </v-card-title>

    <v-list two-line dense>
      <v-list-tile v-for="alert in alerts" :key="alert.id">
        <v-list-tile-action>
          <v-icon :color="change[alert.change].color">{{ change[alert.change].icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ alert.order.type_name }} x{{alert.order.volume_total}}</v-list-tile-title>
          <v-list-tile-sub-title>{{ alert.change_text }}</v-list-tile-sub-title>
        </v-list-tile-content>

        <v-list-tile-action v-if="showCharacter">
          <v-btn flat small :to="{name: 'characterDashboard', params: {characterId: alert.order.character + ''}}">
            {{ characters[alert.order.character].name }}
          </v-btn>
        </v-list-tile-action>

        <v-list-tile-action>
          <v-tooltip bottom>
            <v-btn icon small slot="activator">
              <v-icon color="grey">search</v-icon>
            </v-btn>
            <span>View order</span>
          </v-tooltip>
        </v-list-tile-action>

        <v-list-tile-action>
          <v-tooltip bottom>
            <v-btn icon small slot="activator" @click="clear(alert)">
              <v-icon color="red darken-1">close</v-icon>
            </v-btn>
            <span>Clear notification</span>
          </v-tooltip>
        </v-list-tile-action>

      </v-list-tile>
    </v-list>

  </v-card>
</template>
<script>
  import {mapState, mapActions, mapGetters} from 'vuex'
  import {ALERT_CHANGE} from '../constants'

  export default {
    props: {
      alerts: {type: Array, required: true},
      showCharacter: {type: Boolean, 'default': false},
    },

    computed: {
      ...mapState(['characters']),

      change() {
        return ALERT_CHANGE
      },
    },

    methods: {
      ...mapActions(['clearAlert']),

      clear(alert) {
        this.clearAlert(alert)
      },
    },
  }
</script>
