<template>
  <v-snackbar v-model="snackbarValue" :timeout="0" color="red darke-1" top middle>
    {{ snackbar }}
    <v-btn color="red accent-2" icon @click="snackbarValue = false">
      <v-icon>close</v-icon>
    </v-btn>
  </v-snackbar>
</template>
<script>
  import {mapState, mapMutations, mapGetters} from 'vuex'

  export default {
    computed: {
      ...mapState(['snackbar']),

      snackbarValue: {
        get() {
          return this.snackbar
        },
        set(value) {
          if (value === false) {
            this.setSnackbar(false)
          }
        }
      },
    },

    methods: {
      ...mapMutations(['setSnackbar']),
    },
  }
</script>
