<template>
	<v-container grid-list-xl fill-height fluid>
		<v-layout row wrap align-content-center>

		  <v-flex v-if="!error" offset-lg4 lg4>
				<v-card color="grey darken-2">
					<v-container>
						<v-layout align-end justify-center>
							<v-progress-circular indeterminate color="primary" class="my-3"></v-progress-circular>
						</v-layout>
					</v-container>
				</v-card>
			</v-flex>

			<template v-else>
				<v-flex offset-lg4 lg4>
					<v-alert color="error" icon="warning" :value="error">
						There was a problem adding your character.
						<v-btn flat :to="{name: 'auth'}">Click to Try again</v-btn>
					</v-alert>
				</v-flex>

				<v-flex offset-lg3 lg6>
					<v-card color="error">
						<v-card-text>
							{{ error.data }}
						</v-card-text>
					</v-card>
				</v-flex>
			</template>

		</v-layout>
	</v-container>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
	import {AXIOS} from '../constants'

  export default {
    data() {
      return {
        error: undefined,
      }
    },

    created() {
      if (!this.$route.query) {
        this.$router.push({name: 'auth'});
        return
      }

      if (!this.loggedIn) {
        this.authenticate()
      }

      AXIOS.post('/api/auth/sso/', this.$route.query).then(response => {
        this.addCharacter(response.data);
        this.$router.push({name: 'dashboard'})
      }).catch(error => {
        console.log(error);
        this.error = error.response
      })
    },

    computed: {
      ...mapGetters(['loggedIn']),
    },

    methods: {
      ...mapActions(['authenticate', 'addCharacter'])
    },
  }
</script>
